/* Features */
.service-feature__item{
    background-color: var(--second-bg-color);
    border: 1px solid var(--second-border-color);
    box-shadow: 0 0.62px 0 0.62px #FFFFFFB2 inset, 
    0 1.24px 4.98px -1.24px #00A5DA1F,
    0 4.98px 19.9px -4.98px #5E47E126;
    backdrop-filter: blur(15px);
}


@media(max-width:1023px){
    .gradient-btn,
    .dark-btn{
        font-size: 16px;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .gradient-btn,
    .dark-btn{
        padding: 16px 24px;
    }
}
@media(min-width:768px){
    .service-intro .container{
        max-width: 100% !important;
        padding: 0 !important;
    }
}

@media (max-width:767px){
    .service-intro_content p{
        background-color: var(--second-bg-color) !important;
        border: 1px solid var(--second-border-color);
        border-radius: 24px;
    }
}